{form name='GCONNECT_AccessForm'}
	{block_decorator name='box' addClass='ow_stdmargin' type="empty"}
	 {text key="GConnect+register_app_desc"}
	 <br /><span class="ow_desc">{text key='GConnect+app_return_url_desc'}: <br /><br/><strong>{$returnUrl}</strong></span>

	 {/block_decorator}
	
	<table class="ow_table_1 ow_form">
    <tr>
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_key">{text key='GConnect+app_register_title'}</span>

        </th>
    </tr>

    <tr class="{cycle name="install" values="ow_alt1,ow_alt2"}">
        <td class="ow_label">{text key='GConnect+access_settings_client_id_label'}</td>
        <td class="ow_value">{input name='clientId'} {error name='clientId'}</td>
        <td class="ow_desc"></td>
    </tr>
    <tr class="{cycle name="install" values="ow_alt1,ow_alt2"}">
        <td class="ow_label">{text key='GConnect+access_settings_client_secret_label'}</td>
        <td class="ow_value">{input name='clientSecret'} {error name='clientId'}</td>
        <td class="ow_desc"></td>
    </tr>

    <tr><td colspan="3" class="ow_submit">{submit name='save' class='ow_ic_save'}</td></tr>
</table>
<br><br>{text key='GConnect+gapi_customize_main'}	
	
{/form} 